<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Vivienda</title>
  
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://bootswatch.com/5/lux/bootstrap.min.css"
  />
  <!-- Bootstrap Icons -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/bootstrap-icons.min.css"
  />

</head>
<body>
  <div class="container">
    <h1 class="mt-4 mb-4">Crear Vivienda</h1>
    <form action="/viviendas" method="POST">
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción:</label>
        <input type="text" name="descripcion" id="descripcion" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="barrio" class="form-label">Barrio:</label>
        <input type="text" name="barrio" id="barrio" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="calle" class="form-label">Calle:</label>
        <input type="text" name="calle" id="calle" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="numero" class="form-label">Número:</label>
        <input type="text" name="numero" id="numero" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="piso" class="form-label">Piso:</label>
        <input type="text" name="piso" id="piso" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="propietario" class="form-label">Propietario:</label>
        <input type="text" name="propietario" id="propietario" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="precio" class="form-label">Precio:</label>
        <input type="text" name="precio" id="precio" class="form-control" required>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <button type="submit" class="btn btn-primary">Crear vivienda</button>
        <a href="/viviendas" class="btn btn-secondary">Volver a la lista de viviendas</a>
      </div>
    </form>
  </div>
</body>
</html>
