<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/lux/bootstrap.min.css"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cl
      oudflare.com/ajax/libs/bootstrap-icons/1.5.0/bootstrap-icons.min.css"
    />

  </head>
  <body>
    <div class="container mt-5">
      <h1> <%= title %> </h1>
      <p class="lead">
        Here you can find the best apartments in the city of Madrid, Spain
      </p>
      <hr />

      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Houses for Sale</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Rent</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/polideportivo">Polideportivos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      

      <div class="row">
        <div class="col-md-6">
          <h2>Buy and Rent</h2>
          <p>
            Here you can search, rent and buy the best apartments in the city of
            Madrid, Spain
          </p>
          <p>
            With <%= title %> you get access to thousands of apartments for rent
            and for sale in Madrid
          </p>
        </div>
        <div class="col-md-6">
          <h2>Information</h2>
          <p>Here you can find information about Madrid</p>
          <p>
            With <%= title %> you get access to thousands of apartments for rent
            and for sale in Madrid
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
