<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polideportivos</title>
    <link rel="stylesheet" href="/styles.css">
    <script type="module" src="/javascripts/polideportivos.js"></script>
</head>
<body>
    <div id="polideportivos"></div>
    <p>Hola mundo, esto es polideportivos</p>
</body>
</html>
